
<div class="small-12 medium-7 cell">
	<p class="subhead" style="">
		{{ page.subheadline }}
	</p>
	<p>
		I contracted with <strong><a href="https://www.google.com/travel/hotels" target="_blank">Google Travel</a></strong> to design seamless user experiences for hotel searches and bookings within <strong><a href="https://www.google.com/maps" target="_blank">Google Maps</a></strong>. My role was to create and shepard design solutions through business requirements and engineering constraints while meeting the needs of the end user.
	</p>    
</div>