
<div class="small-12 medium-7 cell">
	<p class="subhead" style="">
		{{ page.subheadline }}
	</p>

	<p>
		At NBCUniversal I created user-centered solutions and interactive concepts for the TV Everywhere product team. My work spanned NBCU's portfolio of brands such as <strong>Bravo</strong>, <strong>USA</strong>, and <strong>SYFY</strong>. This meant creating a single source of truth design system for <strong>Amazon's Fire TV</strong> that scaled to the needs of each brand. It was robust enough to deliver quick iterative design changes for project managers while maintaining consistent redline specs for engineers.
	</p>

	<p>
		In addition to design systems, I created product vision explorations on new ways to interact with content while watching.
	</p>  
</div>
