<nav id="tnav" class="tnav-horizontal">
  <div class="container">

    <div class="medium-10 medium-centered columns">

      <ul class="tnav-list">

        <li id="tnav-logo" class="tnav-item no-dropdown-arrow">
          <a href="/" accesskey="1">
            <img class="ted-chang-logo" src="{{ url }}/images/tedchang_logo.png" alt="{{ site.title }}">
          </a>
        </li>


        <li id="tnav-menu" class="tnav-item tnav-allow-hover">
          <a href="{{ "/about/" | absolute_url }}">About</a>
        </li>

      </ul>
    </div>

  </div>
</nav>

