<div class="small-12 medium-8 cell">
  <hr>
</div>
<div class="small-10 medium-5 cell">
  <p class="text-center">
    <strong>8:02
      Want to see selected projects?<br>Please enter the password:
    </strong>
  </p>

  <input class="text-center" style="" id="password" type="password" placeholder="password" />
    <a class="button large expanded" id="loginbutton">SUBMIT</a>
  <p id="wrongPassword" style="display: none">wrong password</p>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

<script type="text/javascript" src="https://rawcdn.githack.com/chrisveness/crypto/7067ee62f18c76dd4a9d372a00e647205460b62b/sha1.js"></script>




</div>