<div class="small-12 medium-8 cell">
  <hr>
</div>
<div class="small-10 medium-5 cell">
  <p class="text-center">
    <strong>7:20
      Want to see selected projects?<br>Please enter the password:
    </strong>
  </p>

  <input class="text-center" style="" id="password" type="password" placeholder="password" />
    <a class="button large expanded" id="loginbutton">SUBMIT</a>
  <p id="wrongPassword" style="display: none">wrong password</p>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

<script type="text/javascript" src="https://rawcdn.githack.com/chrisveness/crypto/7067ee62f18c76dd4a9d372a00e647205460b62b/sha1.js"></script>

<script type="text/javascript">
"use strict";

  function loadPage(pwd) {

    var hash= pwd;
    hash= Sha1.hash(pwd);
    var url= hash + "/index.html#new-work";


    $.ajax({
      url : url,
      dataType : "html",
      success : function(data) {
        console.log("yup");
        window.location= url;

      },
      error : function(xhr, ajaxOptions, thrownError) {
        console.log("error boy");


        //$("#wrongPassword").show();
        $("#password").attr("placeholder","wrong password");
        $("#password").val("");
      }
    });

    console.log("PWD: " + pwd + " HASH: " + hash + " URL: " + url);
  };


  $("#loginbutton").on("click", function() {
    loadPage($("#password").val());
  });

  $("#password").keypress(function(e) {
    if (e.which == 13) {
      loadPage($("#password").val());
    }
  });

</script>


</div>